html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  font-family: sans-serif;
  background-color: #113;
}

body {
  overflow-x: hidden;
  overflow-y: scroll;
  box-sizing: border-box;
  padding: 20px;
}

.body-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  grid-auto-rows: min-content;
  grid-gap: 20px;
  margin-bottom: 100px;
}

h1 {
  color: #fff;
  text-align: center;
}

h1 a {
  color: #eee;
  font-size: 12px;
}

.example {
  display: grid;
  justify-items: center;
  align-items: center;
  border: 3px solid #353653;
  height: 320px;
  position: relative;
  transition: background-color 800ms ease-in-out;
  overflow:hidden;
}

.example-button {
  width: 180px;
  max-width: 320px;
  height: 64px;
  background-color: transparent;
  outline: none;
  border: 3px solid #c5c8d4;
  cursor: pointer;
  display: block;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  user-select: none;
  outline: none;
  z-index: 1;
}

.example-button:hover {
  background-color: white;
  border-color: white;
  color: black;
}

.example-button:active {
  transform: translateY(1px);
}

.health-outer {
  height: 32px;
  width: 280px;
  border-radius: 32px;
  border: 8px solid #252037;
  overflow: hidden;
  background-color: #3A2B40;
  position: relative;
}

.health-shadow {
  height: 32px;
  width: 100%;
  border-radius: 20px;
  background-color: #842337;
  padding-top: 4px;
  box-sizing: border-box;
  overflow: hidden;
  transition: width 500ms ease-in-out;
  position: absolute;
  top: 0;
  left: 0;
}

.health-inner {
  height: 32px;
  width: 100%;
  border-radius: 20px;
  background-color: #AC3030;
  padding-top: 4px;
  box-sizing: border-box;
  overflow: hidden;
  transition: width 500ms ease-in-out;
  position: absolute;
  top: 0;
  left: 0;
}

@media only screen and (max-width: 500px) {
  .body-wrapper {
    grid-template-columns: 1fr;
  }

  .code {
    display: none;
  }
}