html, body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  width: 100%;
  height: 100%;
  font-family: sans-serif;
}

.header-bar {
  background: #333;
  width: 100%;
  height: 48px;
  text-align: center;
}

.choose-text {
  color: #fff;
  font-weight: bold;
}

.examples-select {
  height: 30px;
  padding: 5px 10px;
  margin-top: 8px;
  border-radius: 5px;
  text-align-last: center;
  text-transform: uppercase;
  background: #555;
  color: #fff;
  font-weight: bold;
  outline: none;
  border: none;
}

.body-wrapper {
  display: grid;
  grid-template-columns: 480px 1fr;
  height: 100%;
}

.main {
  display: grid;
  justify-items: center;
  align-items: center;
  height: 100%;
  position: relative;
  transition: background-color 300ms ease-in-out;
}

.main-button {
  width: 90%;
  max-width: 320px;
  height: 64px;
  background-color: #aaa;
  outline: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  display: block;
  color: #fff;
  font-size: 24px;
  font-weight: bold;
}

.main-button:hover {
  background-color: #bbb;  
}

.main-button:active {
  background-color: #888;  
}


.code {
  overflow-y: scroll;
  font-size: 11px;
}