
.big-card {
  display: grid;
  margin-top: 10px;
  grid-template-columns: 256px 1fr;
  
  width: 100%;
  height: 256px;
  
  .card-image {
    border: 1px solid #333;
  }
  
  .card-image-inner {
    transition: background-image 0.5s ease-in-out;
    width: 100%;
    height: 100%;
  }
  
  .content {
    border: 1px solid #333;
  }
  
  .choices-inner {
    display: grid;
    grid-row-gap: 5px;
    padding: 5px;
    
    .choice-button {
      cursor: pointer;
      background: #fff;
      border: 1px solid #333;
      
      &:hover {
        color: #fff;
        background: #000;
      }
    }
  }
  
  .flavour {
    background: #eee;
    width: 100%;
    font-style: italic;
    box-sizing: border-box;
    padding: 10px 10px;
    text-align: center;
  }
}