$animation-duration: 750ms;
$spin-duration: 500ms;
$grow-duration: 500ms;

.event-list {
  margin-top: 50px;
  margin-bottom: 23px;
  display: block;
  height: 0px;
  border: 2px solid #333;
  border-radius: 5px;
  list-style: none;
  position: relative;
  
  &::after {
    content: '';
    display: block;
    position: absolute;
    top: -25px;
    left: 56px;
    z-index: -1;
    width: 4px;
    height: 50px;
    background: #333;
  }
  
  li {
    width: 34px;
    display: block;
    position: absolute;
    top: -17px;
    transition: transform $animation-duration ease-in-out;
    
    .inner {
      border: 1px solid #aaa;
    }
    
    div {
      width: 34px;
      height: 34px;
      box-sizing:border-box;
      text-align: center;
      background-color: #fff;
    }
  }
}


.downbounce {
  animation-name: bounce;
  animation-duration: $animation-duration;
  animation-timing-function: ease-in-out;
}

.upbounce {
  animation-name: bounce2;
  animation-duration: $animation-duration;
  animation-timing-function: ease-in-out;
}

.spin1 {
  animation-name: spin;
  animation-duration: $spin-duration;
  animation-timing-function: ease-in-out;
}

.grow1 {
  animation-name: grow;
  animation-duration: $grow-duration;
  animation-timing-function: ease-in-out;
}

@keyframes spin {
  0% { transform: rotateZ(-90deg); opacity: 0; }
  100% { transform: rotateZ(0deg); opacity: 1;}
}

@keyframes bounce {
  0% { transform: translateY(0px); }
  50% { transform: translateY(48px); }
  100% { transform: translateY(0px); }
}

@keyframes bounce2 {
  0% { transform: translateY(0px); }
  50% { transform: translateY(-48px); }
  100% { transform: translateY(0px); }
}

@keyframes grow { 
  0% { width: 34px; height: 34px; transform: translateX(0px)  translateY(0px);}
  100% { width: 258px; height: 256px; transform: translateX(-42px) translateY(-340px);}
}